<footer class="footer">
  <small>
    <a href="http://casarevivermorrodoestado.blogspot.com.br/">Casa Reviver</a>
    by <a href="https://github.com/samuelbandeira/casa_reviver"> Samuel Bandeira</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://casarevivermorrodoestado.blogspot.com.br/">Blog</a></li>
    </ul>
  </nav>
</footer>